.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: .3rem 0;
    background: white;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search {
        p{
          color: $header-text;
        }
    }

}
