include ./components/header
.modal
    button.button Click
    .text hello

#list
    p Click

button.button.modal-button Modal win
.black-back
.modalWin
    span.modal-close X
    p Hello
include ./components/posts
include ./components/footer
